.nav {
    position: fixed;
    bottom:0;
    width:100%;
    background-color: #FFFFFF;
    padding:20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    
    
}


.nav__list {
    display: flex;
    justify-content:space-between;
}

.nav__link {
    position:relative;
    color: #191919;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom:15px;
    
}

.nav__notification2 {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    bottom: 28px;
    }

    .nav__notification3 {
        background-color: tomato;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items:center;
        position: absolute;
        left: 30px;
        bottom:28px;
            
        
        }
    